<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item class="ion-margin">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="_name" ></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="number" [(ngModel)]="_phone"></ion-input>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label>Sexo</ion-label>
    <ion-select [(ngModel)]="_gender" placeholder="Selecione">
      <ion-select-option value="Feminino">Feminino</ion-select-option>
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Indefinido">Indefinido</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label>Data de nascimento</ion-label>
    <ion-datetime [(ngModel)]="_birthDate" displayFormat="DD/MM/YYYY" min="1950-01-01" value="2002-09-23T15:03:46.789"></ion-datetime>
  </ion-item>
  <ion-button class="ion-margin" expand="block" size="large" (click)="register()">Registrar</ion-button>
</ion-list>
</ion-content>
