<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agenda de contatos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-group *ngFor = 'let contact of contacts'>
      <ion-item lines="none"><b>Nome: </b> {{contact.name}}</ion-item>
      <ion-item><b>Telefone: </b> {{contact.phone}}</ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
